.top_avatar {
  height: 46px;
  width: 46px;

  border: 1px solid #ddd;
  border-radius: 3px;
  float: left;
  margin: 0 10px 0 0;
  padding: 2px;
}

.top_info {
  color: #666;
  float: left;
  font-size: .8em;
}

.i_gb {
  background: url(../../../assets/guest.png) no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
}

.top_info_l1 {
  overflow: hidden;
  line-height: 19px;
  height: 20px;
}

.top_info_l2 {
  margin: 5px 0 0;
  height: 23px;
  line-height: 23px;
  overflow: hidden;
}

.top_info_l1, .top_info_l2 {
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.img_line {
  width: 16px;
  height: 16px;
  vertical-align: top;
  opacity: 1;
  margin: 4px 2px 0 9px;
}

.table-hover tbody tr:hover {
  background-color: rgb(247, 247, 247);
}
