<small *ngIf="isAuth">My Recent Dumps</small>
<ul class="recent_dumps" *ngIf="isAuth">
  <li *ngFor="let dump of privateDumps" class="border border-right-0 border-left-0 border-bottom-0 fa fa-globe">
    <a href="/v/{{dump.publicId}}">{{(dump.title.length > 25) ? dump.title.slice(0,22) + "..." : dump.title}}</a><br />
    <span *ngIf="dump.type != 'none'" style="display: inline;float:left; border-right: solid 1px lightgrey;margin-right:5px;padding-right:5px">{{globals.invertedDumpTypeMap[dump.type]}}</span><span>{{dump.dateTime | amTimeAgo}}</span>
  </li>
</ul>
<small>Recent Dumps</small>
<ul class="recent_dumps">
  <li *ngFor="let dump of publicDumps" class="border border-right-0 border-left-0 border-bottom-0 fa fa-globe">
    <a href="/v/{{dump.publicId}}">{{(dump.title.length > 25) ? dump.title.slice(0,22) + "..." : dump.title}}</a><br />
    <span *ngIf="dump.type != 'none'" style="display: inline;float:left; border-right: solid 1px lightgrey;margin-right:5px;padding-right:5px">{{globals.invertedDumpTypeMap[dump.type]}}</span><span>{{dump.dateTime | amTimeAgo}}</span>
  </li>
</ul>
