<!-- Small modal -->
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" style="display:none" id="loadingModal" data-backdrop="" (click)="hideLoading()">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content loading-modal-content">
        <div class="modal-body">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="font-size:16px"></i> Loading content...
        </div>
      </div>
    </div>
  </div>
</div>
