.top_avatar {
  height: 46px;
  width: 46px;

  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 0 10px 0 0;
  padding: 2px;
}

.top_info {
  color: #666;
  font-size: .8em;
}

.i_gb {
  background: url(../../../assets/guest.png) no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
}

.top_info_l1 {
  overflow: hidden;
  line-height: 19px;
  height: 20px;
  text-overflow: ellipsis;
}

.top_info_l2 {
  margin: 5px 0 0;
  height: 23px;
  line-height: 23px;
  overflow: hidden;
}

.top_info_l1, .top_info_l2 {
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.img_line {
  width: 16px;
  height: 16px;
  vertical-align: top;
  opacity: 1;
  margin: 4px 2px 0 9px;
}

#code_container {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 0 0 10px;
}

#code_header {
  border-bottom: 1px solid #ddd;
  font-size: .85em;
  background: #F7F7F7;
  text-align: left;
  padding: 8px;
  font-family: Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace,serif;
}

.go_right {
  float: right;
  text-align: right;
}

pre {
  margin-bottom: 0;
}

.codeView div {
  padding: 5px;
}

.btn-xt-sm {
  padding: .25rem .5rem;
  font-size: .7rem;
  line-height: 1;
  border-radius: .2rem;
}
