@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  padding-top: 3rem;
  background-color: #F7F7F7;
}

.content_area {
  background-color: #FFF;
  min-width: 360px;
}
